:root {
    --cor0: #ceecf2;
    --cor1: #05c7f2;
    --cor2: #0487d9;
    --cor3: #2165bf;
    --cor4: #2639a6;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    background-color: var(--cor3);
    text-align: center;
}

main {
    margin: 55px;
    height: 950px;
}

aside {
    background-color: var(--cor2);
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
    padding: 40px;
    margin-right: 55px;
    float: left;
    margin-bottom: 40px;
} 

h1 {
    font-weight: bolder;
    font-size: 40px;
}

.h2-aside {
    font-size: 20px;
    font-weight:normal;
    margin-bottom: 20px;
}

.social-link {
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
}

.social-link:hover {
    background-color: var(--cor0);
}

.social-link img {
    margin-right: 2px;
    vertical-align: middle;
}

.descricao-aside {
    text-decoration: none;
    color: white;
}

.descricao-aside:hover {
    text-decoration: underline;
    color: var(--cor4);
}

#perfil {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#direita > h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.sobre-mim {
    text-align: justify;
    text-indent: 20px;
    font-size: 17px;
}

.materias {
    background-color: var(--cor1);
    width: 350px;
    float: left;
    padding: 20px 40px;
    border-radius: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.materias > ul > li {
    margin: 4px;
}

footer {
    height: 80px;
    background-color: var(--cor3);
    float: ;
}