:root {
    --cor0: #ceecf2;
    --cor1: #05c7f2;
    --cor2: #0487d9;
    --cor3: #2165bf;
    --cor4: #2639a6;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    background-color: var(--cor3);
    text-align: center;
}

main {
    margin: 55px;
}

aside {
    background-color: var(--cor2);
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
    padding: 40px;
    margin-right: 55px;
    float: left;
} 

h1 {
    font-weight: bolder;
    font-size: 40px;
}

.h2-aside {
    font-size: 20px;
    font-weight:normal;
    margin-bottom: 20px;
}

.social-link {
    height: 30px;
    width: 100px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}

.link {
    color: black;
    vertical-align: auto;
    height: 30px;
}

#pic {
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

#perfil {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}